/*buttons*/


/*.reset {}

.roll {}*/


/*grid*/

.grid-container {
    display: grid;
    text-align: center;
    grid-template-columns: auto auto auto;
}

.item {
    border: 1px solid;
}

.item2 {
    border: 1px solid;
    padding-left: 120%;
    padding-right: 140%;
    background-color: aqua;
}

aside {
    float: right;
    width: 30%;
    box-shadow: inset 5px 0 5px -5px #14270c;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

button.dices {
    width: 100px;
    height: 100px;
}

button.ui {
    margin: 15px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    margin-right: 600px;
    flex-direction: row;
}

.container {
    margin: auto;
    width: 50%;
}

@media (max-width: 1200px) {
    .flex-container {
        flex-direction: column;
        margin-right: 300px;
        margin-left: 50px;
    }
    .item2 {
        padding-left: 120%;
        padding-right: 120%;
    }
    .container {
        margin: 0;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .item2 {
        padding-left: 75%;
        padding-right: 120%;
    }
}